.top-footer{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                background-color:black;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
            }
            .footer-text {
                color: rgb(200, 189, 189);
            }

            .bottom-footer{
                background-color:black;
                height:25px;
                border-top: 1px solid rgb(107, 105, 102);  
                display: flex;
                justify-content: center;
                align-items: center;
            }